        <section id="tell-the-story" class="interactive-section">

            <div id="scene-product-introduction" class="interactive-section" data-section-hvport="yes">
                <!-- SkyScraper Bottom -->

                <div class="section-logo text-center">
                    <div class="brand-logo-container clearfix text-center animated inject-css scroll-move-up" data-animation-ready="fadeIn" data-animation-sequence="1" data-animation-delay="300">
                        <a href="#"><img src="img/footer-belomen-bg2.png" alt="Belo Men"></a>
                    </div>
                    <img src="img/interactive-site/i-stop-logo.png" alt="Stop That Pimple" class="campaign-logo animated inject-css scroll-move-up" data-animation-ready="fadeIn" data-animation-sequence="1" data-animation-delay="500">
                </div>

                <div class="intro-text animated inject-css" data-animation-ready="fadeInUp" data-animation-sequence="2" data-animation-delay="1000">
                    <div class="container">
                        <p class="text-center scroll-move-up">Panic ensues with the spread of pimples!</p>
                        <p class="text-center scroll-move-up">Follow Agent Belo in his mission to <span class="hash-char">#</span>StopThatPimple!</p>
                    </div>
                </div>
                <div class="scroll-trigger-container text-center animated inject-css" data-animation-ready="bounceIn" data-animation-sequence="3" data-animation-delay="1250">
                    <div id="autoscroll-trigger" class="text-center scroll-trigger-circular scroll-move-up">Click Here <br> to Begin <br> <span class="triangle-down animated infinite fadeOutDown"></span></div>
                </div>
            </div>

            <div id="scene-pre-intro-char" class="interactive-section">
                <div id="running-character-last" class="running-character last">
                    <div id="explosion-object">
                        <img src="img/interactive-site/section-2/explosion.png" alt="Explosion" class="adjust-height"  data-max-height="579">
                    </div>
                    <img src="img/interactive-site/section-2/people-running-last.png" alt="Running Character">
                </div>
                <div id="running-character-middle" class="running-character middle">
                    <img src="img/interactive-site/section-2/people-running-middle.png" class="adjust-height" alt="Running Character">
                </div>
                <div id="running-character-top" class="running-character top">
                    <img src="img/interactive-site/section-2/people-running-top.png" class="adjust-height" alt="Running Character">
                </div>
            </div>

            <div id="scene-intro-char" class="interactive-section">
                <div class="wrapper interactive-section">
                    <div class="antagonist-information-container animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="1" data-animation-delay="500">
                        <div class="antagonist-information-inner animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="2" data-animation-delay="600">
                            <div class="antagonist-name animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="3" data-animation-delay="700"></div>
                            <ul class="more-info-list list-unstyled">
                                <li class="clearfix animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="4" data-animation-delay="800">
                                    <span class="info-details comic-heading">Pimpol Roco</span>
                                </li>
                                <li class="clearfix animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="5" data-animation-delay="900">
                                    <span class="info-details"> Formerly the talk of the town for his charm and suave looks until acne attacked and crushed his self-esteem.  Seized with shame he thrashes a local bar, endangering patrons in the process.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="antagonist-container">
                        <img src="img/interactive-site/section-3/antagonist.png" alt="Antagonist" class="adjust-height"  data-max-height="803">
                    </div>
                </div>
            </div>

            <div id="scene-intro-protagonist" class="interactive-section">
                <div class="container interactive-section">
                    <div id="protagonist-large" class="protagonist-container text-center">
                        <img src="img/interactive-site/section-4/protagonist-large-alt.png" alt="Daniel Padilla"  class="adjust-height"  data-max-height="604">
                    </div>
                    <div id="protagonist-consulting" class="protagonist-consultant-container interactive-section clearfix">
                        <div class="protagonist-details-positioning">
                            <div class="protagonist-details-container animated inject-css" data-animation-ready="fadeInRight" data-animation-sequence="1" data-animation-delay="250">
                                <div class="protagonist-details-container-inner">
                                    <ul class="more-info-list">
                                        <li class="clearfix animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="2" data-animation-delay="1000">
                                            <span class="info-details comic-heading">Agent Belo</span>
                                        </li>
                                        <li class="clearfix animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="4" data-animation-delay="1200">
                                            <span class="info-details">A highly specialized agent whose mission is to stop acne attacks, one person at a time with Belo Men Acne Control Staff.</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="protagonist-weapons-list">
                                    <div class="label-banner animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="5" data-animation-delay="1700">
                                        <span class="wpn"></span>
                                    </div>
                                    <ul class="list-unstyled list-inline">
                                        <li class="animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="7" data-animation-delay="2300">
                                            <img src="img/interactive-site/section-4/product-2.png" alt="Acne Control Body Bar">
                                            <span class="title">Acne Control Body Bar</span>
                                        </li>
                                        <li class="animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="6" data-animation-delay="2000">
                                            <img src="img/interactive-site/section-4/product-1.png" alt="Acne Contol Face Wash">
                                            <span class="title">Acne Control Face Wash</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="protagonist-image-container">
                            <img src="img/interactive-site/section-4/protagonist-small-alt.png" alt="Daniel Padilla"  class="adjust-height"  data-max-height="408">
                            <div class="protagonist-consultant-connection animated inject-css" data-animation-ready="fadeIn" data-animation-sequence="8" data-animation-delay="2500">
                                <img src="img/interactive-site/section-4/dotted-line-belo.png" alt="Connection">
                            </div>
                            <div class="consultant-container">
                                <div class="consultant-details-container">
                                    <div class="consultant-label-banner animated inject-css"  data-animation-ready="fadeInLeft" data-animation-sequence="9" data-animation-delay="3000">
                                        <span class="otl"></span>
                                    </div>
                                    <ul class="more-info-list list-unstyled">
                                        <li class="clearfix animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="10" data-animation-delay="3100">
                                            <span class="info-details comic-heading">Dra. V</span>
                                        </li>
                                        <li class="clearfix animated inject-css" data-animation-ready="fadeInLeft" data-animation-sequence="12" data-animation-delay="3300">
                                            <span class="info-details">A renowned medical expert and leader who gives mission orders to Agent Belo.</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="consultant-image-container animated inject-css" data-animation-ready="fadeIn" data-animation-sequence="8" data-animation-delay="2500" >
                                    <img src="img/interactive-site/section-4/protagonist-consult-alt.png" alt="Dr. Vicky Belo"  class="adjust-height"  data-max-height="256">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="scene-protagonist-stalk" class="interactive-section">
                <div class="skyscraper-background">
                    <img src="img/interactive-site/section-5/skyscraper.png" alt="skyscraper"  class="adjust-height"  data-max-height="613">
                </div>
                <div class="pattern-overlay"></div>
                <div id="stalking-figure" class="protagonist-stalk-figure">
                    <img src="img/interactive-site/section-5/protagonist.png" alt="Daniel Padilla">
                </div>
                <div id="leaves-layer-1" class="leaves-background layer-1"></div>
                <div id="leaves-layer-2" class="leaves-background layer-2"></div>
            </div>

            <div id="scene-antagonist-angry" class="interactive-section">
                <canvas id="angry-bg" width="1280" height="720"></canvas>
            </div>

            <div id="scene-protagonist-prepare-battle" class="interactive-section">
                <canvas id="prepare-bg" width="1280" height="720"></canvas>
                <div class="container interactive-section">
                    <div id="pro-weapon-present" class="protagonist-weapon-present">
                        <div class="protagonist-weapon left">
                            <div class="dotted-connector">
                                <img src="img/interactive-site/section-7/dotted-connector-left.png" alt="">
                            </div>
                            <div class="protagonist-weapon-details">
                                <div class="realign-contents">
                                    <div class="protagonist-weapon-image-container animated inject-css" data-animation-ready="bounceIn" data-animation-sequence="1" data-animation-delay="300">
                                        <img src="img/interactive-site/section-7/product_2.png" alt="Acne Control Whitening Bar">
                                    </div>
                                    <div class="protagonist-weapon-details-inner">
                                        <h2 class="weapon-details-label">
                                            <span class="acfc"></span>
                                        </h2>
                                        <p>Effective For:</p>
                                        <ul>
                                            <li><span>Helps eliminate pimples while improving skin clarity</span></li>
                                            <li><span>Exfoliates dead skin cells and congested pores</span></li>
                                            <li><span>Reduces inflammation and red marks</span></li>
                                            <li><span>Controls oiliness and promotes skin renewal</span></li>
                                            <li><span>Clinically proven effective and dermatologist-tested</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="protagonist-weapon right">
                            <div class="dotted-connector">
                                <img src="img/interactive-site/section-7/dotted-connector-right.png" alt="">
                            </div>
                            <div class="protagonist-weapon-details">
                                <div class="realign-contents">
                                    <div class="protagonist-weapon-image-container animated inject-css" data-animation-ready="bounceIn" data-animation-sequence="1" data-animation-delay="300">
                                        <img src="img/interactive-site/section-7/product_1.png" alt="Acne Control Whitening Bar">
                                    </div>
                                    <div class="protagonist-weapon-details-inner">
                                        <h2 class="weapon-details-label">
                                            <span class="acwb"></span>
                                        </h2>
                                        <p>Effective For:</p>
                                        <ul>
                                            <li><span>Acne control and whitening bar in one</span></li>
                                            <li><span>Helps eliminate pimple and body acne while improving skin clarify</span></li>
                                            <li><span>Lightens pimple marks and stubborn dark spots</span></li>
                                            <li><span>Reduces inflammation and melanin formation</span></li>
                                            <li><span>Clinically proven effective and dermatologist-tested</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="warning-message">
                    <p>*There may be slight stinging and itchiness as the actives work in exfoliating the skin.</p>
                </div>
            </div>

            <div id="scene-antagonist-attack" class="interactive-section">
                <div class="container">
                    <div class="combat-container interactive-section">
                        <div class="antagonist-container">
                            <img id="slide-antagonist" src="img/interactive-site/section-8/antagonist-alt.png" alt="Antagonist"  class="adjust-height"  data-max-height="557">
                            <div id="attack-impact-container">
                                <img src="img/interactive-site/section-8/combat-impact-alt.png" alt="Attack Impact" class="adjust-height"  data-max-height="494">
                            </div>
                            <div id="staff-container" class="staff-container">
                                <img src="img/interactive-site/section-8/staff-alt.png" alt="Staff"  class="adjust-height"  data-max-height="912">
                            </div>
                            <div class="product-infos-container">
                                <div id="product-info-1" class="product-info-container">
                                    <div class="protagonist-weapon-details">
                                        <div class="realign-contents">
                                            <div class="protagonist-weapon-details-inner">
                                                <h2 class="weapon-details-label">
                                                    <span class="stp1"></span>
                                                </h2>
                                                <div class="effect-container">
                                                    <span>Effect:</span>
                                                    <p>The Belo Men Acne Control Bar cleanses the face while improving skin clarity. Its active ingredients start to effectively clear up the face.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="product-info-2" class="product-info-container">
                                    <div class="protagonist-weapon-details">
                                        <div class="realign-contents">
                                            <div class="protagonist-weapon-details-inner">
                                                <h2 class="weapon-details-label">
                                                    <span class="stp2"></span>
                                                </h2>
                                                <div class="effect-container">
                                                    <span>Effect:</span>
                                                    <p>With one final hit, the Belo Men Acne Control Facial Cleanser unclogs pores, removes excess oil and successfully stops the acne attack! The result: a much cleaner and smoother skin.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="warning-message">
                    <p>*There may be slight stinging and itchiness as the actives work in exfoliating the skin.</p>
                </div>
            </div>

            <div id="scene-antagonist-falling" class="interactive-section">
            </div>

            <div id="antagonist-flying-by">
                <img src="img/interactive-site/section-9/antagonist-alt.png" alt="Antagonist" class="adjust-height"  data-max-height="1000">
            </div>

            <div id="dirt-group-1">
                <div class="dirt-group-inner">
                    <div class="dirt-container-1"></div>
                    <div class="dirt-container-2"></div>
                    <div class="dirt-container-3"></div>
                </div>
            </div>


            <div id="dirt-group-2">
                <div class="dirt-group-inner">
                    <div class="dirt-container-1"></div>
                    <div class="dirt-container-2"></div>
                    <div class="dirt-container-3"></div>
                </div>
            </div>

            <div id="scene-antagonist-healed" class="interactive-section">
                <div class="container">
                    <div class="product-infos-container">
                        <div class="product-info-container">
                            <div class="protagonist-weapon-details">
                                <div class="realign-contents">
                                    <div class="protagonist-weapon-details-inner">
                                        <h2 class="weapon-details-label">
                                            <span class="accomplished"></span>
                                        </h2>
                                        <p>With Belo Men Acne Control, acne attacks can be stopped and prevented from happening again.  The end is skin freed from all vicious elements, left much cleaner and smoother.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div id="scene-promotion" class="interactive-section">
                <div class="container interactive-section">
                    <div class="promotion-wrapper">
                        <div class="protagonist-container">
                            <img src="img/interactive-site/section-11/protagonist.png" alt="Daniel Padilla">
                        </div>
                        <div class="promotion-details-container">
                            <div class="title-container animated inject-css" data-animation-ready="fadeInDown" data-animation-sequence="1" data-animation-delay="500">
                                <img src="img/interactive-site/i-stop-logo.png" alt="Stop That Pimple - With Belo Men Acne Control">
                            </div>
                            <div class="products-container text-center animated inject-css" data-animation-ready="fadeInDown" data-animation-sequence="2" data-animation-delay="1000">
                                <img src="img/interactive-site/section-11/products.png" alt="Belo Men Products">
                                <div id="back-to-top" class="text-center scroll-trigger-circular scroll-move-up animated inject-css" data-animation-ready="fadeInDown" data-animation-sequence="5" data-animation-delay="2500"><span class="triangle-up animated infinite fadeOutUp"></span>  <br> Back To Top </div>
                            </div>
                            <div class="promotion-actions-container text-center">
                                <div class="lazada-container animated inject-css" data-animation-ready="fadeInDown" data-animation-sequence="3" data-animation-delay="1500">
                                    <a class="btn lazada" id="btn-lazada" href="http://www.lazada.com.ph/belo-cosmetics/" target="__blank">
                                        <img src="img/interactive-site/section-11/shopping-cart.png" alt="Lazada"> <span class="sbar"></span>
                                    Buy Now
                                    </a>
                                </div>
                                <div class="social-container animated inject-css" data-animation-ready="fadeInDown" data-animation-sequence="4" data-animation-delay="2000">
                                    <div id="twitter-share"></div>
                                    <div id="fb-share"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="footer-details">
                    <div class="gradient-border"></div>
                    <div class="container">
                        <div class="clearfix">
                            <div class="pull-left"><p>Copyright &copy; 2014 - 2015 Intelligent Skin Care Inc. All Rights Reserved</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="vignette left interactive-section"></div>
        <div class="vignette right interactive-section"></div>
