
@font-face {
  font-family: 'BebasNeueBold';
  src: url('bebasbold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  
       url('bebasbold/BebasNeueBold.woff') format('woff'), 
       url('bebasbold/BebasNeueBold.ttf')  format('truetype'), 
       url('bebasbold/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'neosans';
    src: url('neosans/neo-sans-1361508444-webfont.eot');
    src: url('neosans/neo-sans-1361508444-webfont.eot?#iefix') format('embedded-opentype'),
         url('neosans/neo-sans-1361508444-webfont.woff2') format('woff2'),
         url('neosans/neo-sans-1361508444-webfont.woff') format('woff'),
         url('neosans/neo-sans-1361508444-webfont.ttf') format('truetype'),
         url('neosans/neo-sans-1361508444-webfont.svg#neosans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('BebasNeueRegular/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  
  	   url('BebasNeueRegular/BebasNeueRegular.otf')  format('opentype'),
	   url('BebasNeueRegular/BebasNeueRegular.woff') format('woff'), 
	   url('BebasNeueRegular/BebasNeueRegular.ttf')  format('truetype'), 
	   url('BebasNeueRegular/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),  
  	   url('Lato-Bold/Lato-Bold.woff') format('woff'), 
  	   url('Lato-Bold/Lato-Bold.ttf')  format('truetype'), 
  	   url('Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoRegular';
  src: url('Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('Lato-Regular/Lato-Regular.woff') format('woff'), 
  		url('Lato-Regular/Lato-Regular.ttf')  format('truetype'), 
  		url('Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}





