.productList {
	z-index: 9999;
}
.product-info .listing .item figure {
	height: auto;
}

.errorMsg {
	color: rgb(173, 55, 55);
	background: rgb(245, 204, 204);
	padding: 5px;
	border: 1px dotted red;
	display: none;
}
.ui-tooltip, .arrow:after {
    background: white;
    border: 1px solid #DDD;
  }
.ui-tooltip {
	padding: 5px;
	color: #333;
	font-size: 12px;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
top: -16px;
bottom: auto;
}
.arrow.left {
left: 20%;
}
.arrow:after {
content: "";
position: absolute;
left: 20px;
top: -20px;
width: 25px;
height: 25px;
box-shadow: 6px 5px 9px -9px black;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.arrow.top:after {
bottom: -20px;
top: auto;
}