body{
	margin: 0 auto;
	background: #111 url(../img/bg-body.jpg);
	background-position: 0px 16px;
	font-family: arial;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	position: relative;
}


li{
list-style: none;
}

a {
text-decoration: none;
color:#000;
outline: none;
}

*{
	box-sizing: border-box;
}

.clearfix{
	clear: both;
	content: '';
	display: block;
}


button.btn, a.btn{
	outline-color: transparent;
	display: inline-block;
	text-decoration: none;
	border: 0;
	border-radius: 3px;
	background: #0483f6 url(../img/btn-gradient.png) center repeat-x;
	background-size: auto 100%;
	padding: 5px 10px;
	font:normal 14px Solano;
	color: #fff;
	text-align: center;
	min-width: 100px;
	position: relative;
	cursor: pointer;
	box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5) inset;
	.sbar{
		display: inline-block;
		height: 23px;
		width: 1px;
		background: url(../img/separator.png);
		margin: -8px 10px 0;
		position: relative;
		line-height: 1;
		top: 6px;
	}
}
a.btn{
	padding: 6px 10px 7px;
}

.fa{
	color: #fff;
}
div, header, footer, section{
	display: block;
	position: relative;
}

#jumbotron{
	height: 844px;
	background: #000;
	overflow-x: hidden;
	top: -100px;
	z-index: 3;

	.theater{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		overflow: hidden;

		.item{
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 1;
			-webkit-transition: opacity 800ms;
			-moz-zztransition: opacity 800ms;
			transition: opacity 800ms;
			position: absolute;
			top: 0;
			left: 0;

			&.active{
				opacity: 1;
				z-index: 2;
			}
			&.video{
				.container{
					height: 100%;
				}
			}
			&.learn-the-story{
				background: center top;
				background-size:  cover;
				background-image: url(../img/jumbotron-home.jpg);
				color: #fff;

				.container{
					top: 200px;
				}
				.banner{
					width: 45%;
					font: 18px neosans;
				}

				h1{
					font: 60px Solano;
					margin: 0;

					em{
						font-style: normal;
						color: #8a8a8a;
					}
				}

				.btn.learn{
					background-color: #c8662d;
					padding: 15px 25px;
					font-size: 18px;
					border-radius: 5px;
					box-shadow: 0px 0px 6px #f7c14a inset;
					margin-top: 30px;
				}
			}
		}
	}

	.thumbnail-holder{
		
		.proxy {
			float: left;
			margin: 6px;
			display: block;
			width: 24px;
			height: 24px;
			background-color: #80441e;
			display: none;

			&.active{
				background-color: #ff873c;
			}
		}

		z-index: 2;
		height: 80px;
		position: absolute;
		bottom: 210px;
		left: 50%;
		margin-left: -490px;

		.item{
			float: left;
			margin-right: 2px;
			cursor: pointer;

			img{
				display: block;
				margin-bottom: 2px;
			}
			span{
				display: block;
				color: #fff;
				font: 9px neosans;
				padding: 2px 5px;
				background-color: rgba(10, 10, 10, 0.5);
			}
		}
	}

	.mask{
		width: 100%;
		position: absolute;
		bottom: 0;
		z-index: 2;

		.left, .right{
			width: 542px;
			height: 100px;
			position: absolute;
			bottom:0;
		}
		
		.left{
			left: 50%;
			background: url(../img/jumbotron-mask-left.png);
			margin-left: -996px;
		}

		.right{
			right: 50%;
			background: url(../img/jumbotron-mask-right.png);
			margin-right: -996px;
		}



		&:before, &:after{
			content: '';
			display: block;
			width: 50%;
			bottom:0;
			position: absolute;
			height: 100px;
			background: #111 url(../img/bg-body.jpg);
		}
		
		&:before{
			left: -996px;
			background-position: right bottom;
		}
		&:after{
			right: -996px;
			background-position: left bottom;
		}
	}
}

header{
	position: relative;
	width: 100%;
	top: 0;
	background: rgba(1, 25, 46, 0.8) url(../img/bg-header.png) repeat-x;
	height: 100px;
	z-index: 10;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;

	&:after{
		clear:both;
	}

	&.down{
		position: relative;
	}

	.topbar{
		height: 60px;
	}
	.logo{
		display: inline-block;
		width: 132px;
		height: 96px;
		float: left;
		background: url(../img/belomen.png);
	}

	.quicklinks{
		float: right;
		text-align: right;
		top: -5px;

		.btn{
			border-radius: 0px 0px 3px 3px;
			padding-left: 10px;
			text-align: left;
			padding-right: 25px;

			.sbar{
				margin-right: 20px;
			}

			&.buy{
				background-color: #ca682e;
			}

			&#toggleMenu{
				display: none;
			}
		}
	}

	nav{
		margin-left:140px;
		margin-top: 8px;
		font: 16px Solano;
		span{
			display: inline-block;
			color: #fff;
			min-width: 14%;
			padding-left: 10px;
			position: relative;

			&:before{
				content: '';
				height: 23px;
				width: 1px;
				position: absolute;
				left: 0;
				top: -3px;
				background: url(../img/separator.png) no-repeat left center;
			}

			&.label{
				float: right;
			}

			&.search{
				float: right;
				background: none;
				padding: 0;
				width: 200px;
				display: inline-block;
				position: relative;

				input{
					font: 11px Solano;
					border-radius: 3px 0 0 3px;
					padding: 5px;
					height: 22px;
					border: 0;
					width: 80%;
					float: left;
					background: #fff;
					color: #111;
				}

				button{
					float: left;
					font: 11px Solano;
					border-radius:  0 3px 3px 0;
					padding: 5px;
					height: 22px;
					border: 0;
					width: 20%;
					float: left;
					background: #0483f6 url(../img/bg-btn-primary.jpg) center;
					position: relative;
					&:after{
						border: solid 5px;
						border-color: transparent transparent transparent #fff; 
						content: '';
						position: absolute;
						left: 0;
						top: 7px;
					}
				}
				
				&:after{
					clear:both;
				}
			}
		}
		
		a{
			color: #fff;
			text-decoration: none;
		}
	}

}
section.main{
	max-width: 996px;
	background: #161616;
	margin: -300px auto 0;
	padding: 8px 8px 0;
	z-index: 4;
}

footer {
	background: #022240 url(../img/bg-footer.png);
	padding: 35px 0 0;

	&:before {
		content: '';
		height: 17px;
		background: url(../img/bg-footer-bar.png) no-repeat center;
		display: block;
		position: absolute;
		top: -8px;
		width: 100%;
	}

	.container {
		&:after {
			clear:both;
		}
	}

	.logo {
		width: 104px;
		height: 93px;
		background: url(../img/footer-belomen-bg2.png) left center no-repeat;
		overflow: hidden;
		text-indent: -999px;
		float: left;
		margin-right: 6%;
	}

	.sitemap {
		padding: 0;
		margin: 0;
		display: block;
		max-height:65px;

		li {
			float: left;
			margin-top: 20px;
			padding: 0 35px;
			border-right: 1px solid #fff;

			a {
				display: block;
				font-size: 10px;
				color: #fff;
				font-family: 'open_sanssemibold';

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.sitemap { 
		li:nth-child(6) {
			border-right: none;
		}
		li:nth-child(1) {
			padding-left: 0;
		}
	}

	.social{
		padding: 0;
		margin: 0;
		display: block;


		.btn{
			font: 8px arial;
			padding: 6px 10px;

			.sbar{
				height: 15px;
				top:5px;
				background-size: auto 100% ;
			}

		}

		.fb{ background-color: #03579c}
		.tw{ background-color: #048af9}
		.lazada{ background-color: #ca682e}
		.instagram { background-color: #805e19}

		li {
			float: left;
			margin-right: 30px;
		}
	}



	.footnote{
		margin-top: 30px;
		background: rgba(2, 34, 64, 0.6);
		padding: 20px 0;
		border-top: solid 1px #111;
		box-shadow: 0px -1px 0 #043d71;

		font: bold 9px arial;
		color: #50729c;

		&:after{
			clear:both;
		}
		.copyright{
			float: left;
			text-transform: uppercase;
		}

		.terms{
			float: right;

			a{
				padding:  0 10px;
				border-right: solid 1px #50729c;
				color: #50729c;
				text-decoration: none;

				&:last-child{
					border: none;
					padding-right: 0;
				}
			}
		}
	}

}

//commons
.container{
	max-width: 996px;
	margin: 0 auto;
}
.row{
	.item {
	}

	&:after{
		clear:both;
	}
}
#products{
	.product-arrow{display: none;}
}


.product-showcase{
	.item{
		display: block;
		height: 446px;
		background-color: #444;
		background-size: cover;
		background-position: center;
		padding: 30px 30px 50px;

		&.new:after{
			width: 106px;
			height: 81px;
			background: url(../img/product-new-flag.png);
			background-size: cover;
			position: absolute;
			right: 0;
			top: 0;
			content: '';
		}

		&:nth-child(2n){
			background-color: #555;
		}

		h1{
			margin: 0 0 20px -30px;
			position: relative;
			background: rgba(30, 30, 30, 0.7);
			color: #fff;
			padding: 5px 20px 5px 30px;
			display: inline-block;
			font: normal 28px Solano;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				right: -30px;
				top:0;
				border: solid transparent;
				border-width: 0 0 47px 30px;
				border-left-color:rgba(30, 30, 30, 0.7);  
			}
		}

		figure{
			display: block;
			margin: 10px 0;
			img{
				max-width: 100%;
				height: 100%;
				max-height: 200px;
				display: block;
				margin: 0 auto;
			}
			figcaption{
				color: #fff;
				font: 12px neosans;
				text-align: center;
				margin: 0 0 20px;
			}
		}
		
		.btn{
			display: block;
			margin: 0 auto;
		}


		&.active:before{
			content: '';
			position: absolute;
			bottom: 0px;
			left: 50%;
			margin-left: -11px;
			border: solid  20px transparent;
			border-top-width: 0px;
			border-bottom: solid 22px #034684;
		}
	}
}

.close{
	position: absolute;
	right: 20px;
	top: 20px;
	color: #fff;
	z-index: 3;
	cursor: pointer;
	font-size: 35px;
	line-height: 25px;
}

.product-info{
	height: 0;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
	overflow: hidden;

	&.active{
		min-height: 300px;
		height: auto;
		border-top: solid 1px #034685;
	}

	.owl-controls{
		text-align: center;
		.owl-page{
			width: 10px;
			height: 10px;
			margin: 0 2px;
			display: inline-block;
			background-color: #33415a;
			border-radius: 100%;
		}

		.owl-page.active{
			background-color: #0486f8;
		}
	}

	.listing{
		padding: 30px 0;
		z-index: 2;

		.item{
				
			figure{
				width: 40%;
				float: left;
				margin: 0;
				padding: 20px;
				display: table-cell;
				vertical-align: middle;
				height: 100%;
				text-align: center;
				img{
					max-width: 100%;
					width: auto;
					/* height: auto; */
					max-height: 200px;
				}
			}

			.copy{
				float: left;
				padding: 10px;
				display: table-cell;
				vertical-align: middle;
				width: 60%;
				color: #fff;
				font: 12px neosans;
				
				h2{
					font: normal 20px Solano;
					margin: 0;
				}

				.description{
					margin: 4px 0;
				}

				.price{
					margin: 20px 0;
					font-size: 9px;
					span{
						display: inline-block;
						margin-right: 20px;
					}
				}
			}

			&:after{
				clear:both;
			}


		}
	}

	.bg-gradient{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(3,70,133,1);
		background: rgba(3,70,133,1);
		background: -moz-linear-gradient(top, rgba(3,70,133,1) 0%, rgba(3,70,133,1) 12%, rgba(21,23,31,1) 79%, rgba(21,23,31,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,70,133,1)), color-stop(12%, rgba(3,70,133,1)), color-stop(79%, rgba(21,23,31,1)), color-stop(100%, rgba(21,23,31,1)));
		background: -webkit-linear-gradient(top, rgba(3,70,133,1) 0%, rgba(3,70,133,1) 12%, rgba(21,23,31,1) 79%, rgba(21,23,31,1) 100%);
		background: -o-linear-gradient(top, rgba(3,70,133,1) 0%, rgba(3,70,133,1) 12%, rgba(21,23,31,1) 79%, rgba(21,23,31,1) 100%);
		background: -ms-linear-gradient(top, rgba(3,70,133,1) 0%, rgba(3,70,133,1) 12%, rgba(21,23,31,1) 79%, rgba(21,23,31,1) 100%);
		background: linear-gradient(to bottom, rgba(3,70,133,1) 0%, rgba(3,70,133,1) 12%, rgba(21,23,31,1) 79%, rgba(21,23,31,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#034685', endColorstr='#15171f', GradientType=0 );

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 50%;
			background: rgba(0,0,0,1);
			background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
			background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
			background: -o-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
			background: -ms-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
			background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
		}

		&:after{
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 50%;
			background: rgba(0,0,0,0);
			background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
			background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -o-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -ms-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
		}
	}
}


.contactus{
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
	transform: translateY(-100%);
	background: url(../img/bg-footer.png);

	.container{
		.close {
			right: 0px;
		}

		background: url(../img/bg-contactus-daniel.png) bottom left no-repeat;
		background-size: auto 99%;
		min-height: 300px;

		&:after{
			clear:both;
		}
	}

	.form-container{
		float: right;
		width: 50%;
		padding: 30px 0;
		font-size: 12px;
		color: #fff;

		&:after{
			clear:both;
		}

		h2{
			font-size: 16px;
			margin-bottom: 20px;

			em{
				font-style: normal;
				color:#2262be; 
			}

			.icon{
				padding: 1px 10px;
				display: inline-block;
				background: #2262be;
				border-radius: 3px;
				margin-right: 10px;
				.fa{
					color: #01375c;
				}
			}
		}

		form{
			position: relative;
			z-index: 2;
			font-size: 11px;

			label{
				display: block;
				font-size: 10px;
				color: #2262be;
				font-weight: bold;
				margin: 15px 0 3px;
			}

			input, select, textarea{
				font: inherit;
				display: block;
				width: 100%;
				padding: 8px 10px;
				border-radius: 0;
				border: 0;
			}

			textarea{
				min-height: 100px;
				resize: none;
				margin-bottom: 20px;
			}

			.captcha{
				float: left;
				width: 60%;
				height: 70px;
				background: #fff;
			}

			button.btn{
				float: right;
				margin-top: 10px;
				font-size: 16px;
			}
		}
	}

	.office{
		background-color: rgba(1, 25, 48, 0.9);
		color: #fff;
		width: 50%;
		font-size: 12px;
		padding: 30px 20px;
		position: absolute;
		bottom: 0;
		z-index: 1;

		&:before{
			position: absolute;
			content: '';
			height: 100%;
			width: 500%;
			left: -500%;
			top: 0;
			background-color: rgba(1, 25, 48, 0.9);
		}

		&:after{
			top: 0;
			position: absolute;
			right: -250px;
			content: '';
			border: solid transparent;
			border-width: 0 250px  200px 0;
			border-bottom-color:rgba(1, 25, 48, 0.9); 
		}
		em{
			font-style: normal;
			font-weight: normal;
			color: #2e83ff;
			margin-top: 10px;
			text-transform: uppercase;
		}
		em,span{
			display: block;
		}
	}
}

/************************
*	PHASE 2 CSS 
*************************/
.clearfix{
	clear:both;
}

.stv {
	color:#6081b2;
}

#video {
	background-color: #161616;
	padding: 25px 0 50px;

	.beloTV {
		/* .vid-list {
			width: 100%;
			position: relative;
		} */

		padding-left: 10px;
		display: block;
		max-width: 694px;
		width: 100%;
		vertical-align: middle;
		float: left;

		span {
			vertical-align: middle;
		}
		.title {
			font-family: 'open_sanssemibold';
			font-size: 18px;
			color: #fff;
			display: block;
			margin-bottom: 25px;

			.iconTV {
				display: inline-block;
				width: 37px;
				height: 23px;
				background: #33415a url(../img/view-play-icon.png) center no-repeat;
				margin-right: 12px;

				border-radius: 3px;
		   		-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}
		}

		.vid-entry {
			position: relative;
			display: inline-block;
			width: 32.333%;
			margin-right: 1%;
			float: left;

			&:hover .description .vtitle{
				text-decoration: underline;
			}

			.thumb {
				min-height: 132px;
				background-color:#000;
				.btn-play {
					position: absolute;
					top: 50%;
					left:50%;
					z-index: 2;
					transform: translate(-50%,-50%);
					-moz-transform: translate(-50%,-50%);
					-webkit-transform: translate(-50%,-50%);
					
					display: inline-block;
					width: 36px;
					height: 36px;
					background: transparent url(../img/btn-play-na.png);
				}

				width: 100%;
				margin-bottom: 5px;

				img {
					max-width: 100%;
					height: auto;
				}
			}

			.description {
				width: 100%;
				font-size: 10px;
				font-family: 'open_sanssemibold';
				color: #fff;
				text-align: center;

				.vtitle {
					display: block;
					color: #0488ff;
				}
				.vtime {
					display: inline-block;
					margin-left: 5px;
				}
				& > i {
					display: inline-block;
				}
			}
		}
	}

	.sorter-btn-list {
		display: block;
		margin: 0;
		padding: 0;
		
		li {
			display: inline-block;
			font-size: 10px;
			font-family: 'open_sanssemibold';
			border-right: 1px solid #444; 
			margin: 0;
			padding-right: 5px;

			a {
				display: inline-block;
				color:#fff;
				background: none;
				padding: 2px 6px;
				margin: 0;

				&.active {
					background-color: #d1d1d1;
					color: #1b1b1b;
					border-radius: 3px;
		 			-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					border-right: none;
					text-decoration: none;
				}
				&:hover {
					text-decoration: underline;
				}
			}
			&:last-child {
				border: 0px none;
			}
		}
	}
}

.skin-analyzer-cont {
	border-left:1px solid #292929;
	float: right;
	min-height: 100px;
	width: 255px;
	padding-left: 25px;

	span {
		vertical-align: middle;
	}

	.title {
		font-family: 'open_sanssemibold';
		font-size: 18px;
		color: #fff;
		display: block;
		margin-bottom: 25px;

		.SAicon {
			display: inline-block;
			width: 37px;
			height: 23px;
			background: #33415a url(../img/analyzer-top-icon.png) center no-repeat;
			margin-right: 12px;
			border-radius: 3px;
	   		-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
	}
	.content {
		width: 100%;
		font-family: 'neosans';

		.desc,.illust {
			float: left;
		}

		.desc {
			font-size: 11px;
			color: #6782b2;
			width: 35%;

			margin-bottom: 50px;
		}
		.illust {
			width: 65%;
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}

	.btn-analyze {
		text-align: left;
		display: block;
		font-size: 10px;
		font-family: 'open_sanssemibold';
		color: #fff;

		i {
			margin-right: 10px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

/* 
#video .sort-btn li a:last-child{
	border-right: 0px none;
} */

.loader-overlay {
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;

	.gif{
		display: block;
		background: #000 url(../img/loader.gif) center no-repeat;
		width:  60px;
		height: 60px;
		position: absolute;
		top : 50%;
		left: 50%;

		transform          : translate(-50,-50);
		-webkit-transform  : translate(-50,-50);
		-moz-transform     : translate(-50,-50);

		        border-radius: 10px;
		   -moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
}

#video-gallery,
#search-content {
min-height: 800px;
padding: 30px 0;
}

#video-gallery {
	
	.container {
		.title{
			float: left;
			display: inline-block;
			vertical-align: bottom;
			font-family: 'open_sanssemibold';
			font-size: 18px;
			color:#fff;

			.icon{
				vertical-align: bottom;
				display: inline-block;
				width: 37px;
				height: 23px;
				margin-right: 15px;
				background: #fff url(../img/view-play-icon.png) no-repeat center;
				
				     border-radius: 3px;
		  		-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}
		}
		.sort-btn {
			display: block;
			width: 50%;
			float: right;
			margin: 0;
			padding: 0;

			li {
				float: left;
				display: inline-block;
				padding-left: 50px;
				a{
					color:#fff;
					font-size: 10px;
					font-family: 'open_sanssemibold';
					
					&:hover{
						text-decoration: underline;
					}
					&.active {
						background-color: #fff;
						border-radius: 5px;
				  		-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						color: #1b1b1b;
						padding: 4px 7px;
						text-decoration: none;
					}
				}
			}
		}
		.list-wrapper {
			margin: 0;
			margin-top: 30px;
			width: 100%;
			padding: 0;

			.vitem-entry {
				position: relative;
				display: block;
				float: left;
				width: 30%;
				margin-right: 1.666%;
				margin-left:  1.666%;
				height: auto;
				margin-bottom: 20px;
				text-align: center;

				.imgholder{
					width: 100%;
					display: block;
					min-height: 40px;
					background-color: #000;
					
					.play-btn {
						display: block;
						position: absolute;
						top: 50%;
						left:50%;

						transform: translate(-50%,-50%);
						-webkit-transform: translate(-50%,-50%);
						-moz-transform: translate(-50%,-50%);
						z-index: 2;

						width: 36px;
						height: 36px;
						background: transparent url(../img/btn-play-na.png) no-repeat center;
					}
					
					img {
						width: 100%;
						height: auto;
						display: block;
					}
				}

				.innerTitle {
					display: block;
					width: 100%;
					font-size: 10px;
					font-family: 'open_sanssemibold';
					color: #0e6fc6;
				}

				.time {
					display: block;
					width: 100%;
					font-size: 10px;
					font-family: 'open_sanssemibold';
					color: #fff;
					
					i {
						font-size: 10px;	
						margin-right: 10px;
					}
				}
				.innerTitle,.time{
					margin-top: 5px;
				}

				&:hover {
					.innerTitle {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

#search-content {
	.container {
		.title {
			vertical-align: bottom;
			font-size: 18px;
			font-family: 'open_sanssemibold';
			color: #fff;
			margin-bottom: 30px;

			.icon {
				margin-right: 15px;
				vertical-align: bottom;
				display: inline-block;
				width: 37px;
				height: 23px;
				background: #fff url(../img/search-icon.jpg) no-repeat center;

				border-radius: 3px;
		   		-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}
		}

		.parseholder {
			min-height: 100px;
			background-color: #fff;
		}
	}
}

.popup-x {
	display: block;
	width: 120px;
	height: 32px;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;

	background: #dc7d37 url(../img/btn-gradient.png) center repeat-x ;
	background-size: auto 100%;
	box-shadow: 0 0 3px rgba(255,255,255,.5)inset;

	font-size: 14px;
	color:#fff;
	font-family: 'open_sanssemibold';
	text-align: center;
	padding: 6px 0;
	vertical-align: top;
	margin: 0 auto;
	margin-top: 30px;
	
	.desx{
		position: relative;
		display: inline-block;
		background: transparent url(../img/xdes.png) left no-repeat;
		width: 11px;
		height: 11px;
		padding-right:30px;

		&:after {
			content: '';
			height: 18px;
			width: 1px;
			display: inline-block;
			position: absolute;
			top: -3px;
			left: 21px;
			z-index: 2;
			border-left: 1px solid rgb(255, 255, 255);
		}
	}
}

#termsCondition {
	max-width: 570px;
	width: 100%;
	min-height: 200px;
	background-color: #fff;
	padding: 30px;

	.header {
		color:#8a8a8a;
		font-size: 24px;
		font-family: 'Solano';
		margin-bottom: 10px;
	}
	.content {
		font-size: 12px;
		font-family: 'open_sanssemibold';
		color: #101010;
	}
}

#aboutbelo{
	max-width: 742px;
	width: 100%;
	padding: 40px 0;
	/*min-height: 469px;*/

	.beloimg,
	.beloinfo {
		float: left;
		min-height: 100px;
	}
	.beloimg {
		width: 40%;
		padding: 0px 20px 20px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.beloinfo{
		padding-right: 40px;
		width: 60%;
		.title{
			font-size: 24px;
			font-family: 'Solano';
			color:#8a8a8a;
		}
		.content {
			font-size: 12px;
			font-family: 'open_sanssemibold';
			color:#000;
		}
		.popup-x {
			margin: 0;
			margin-top: 20px;
		}
	}
}

#popupvideo {
	padding: 15px;
	max-width: 685px;
	width: 100%;
	height: auto;/*409px*/
	background-color: #fff;
	
	.videoWrapper {
	  position: relative;
	  padding-bottom: 56.25%;
	  padding-top: 25px;
	  height: 0;
	}

	.videoWrapper iframe,  {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.spl-close {
	position: absolute;
	top:-16px;
	right:-16px;
	width: 37px;
	height: 31px;
	z-index: 2;
	background: transparent url(../img/popupvideoclosebtn.png);
	cursor: pointer;
}

#termsUse:hover {
	text-decoration: underline;
}

.lytebox {
	z-index: 99;
}

.pskinanalyzer {
	width: 1004px;
	height: 574px;
	background-color: #000;
	border: 3px solid #fff;
}

