@media(max-width: 767px){
	header{
		.topbar{
			z-index: 3;
		}

		
		.container{
			max-width: 100%;
			padding: 0px;
			position: relative;

		}

		.bottombar{
			z-index: 1;
		}
		.nav-holder{
			position: absolute;
			right: 0px;
			padding: 0 0 10px;
			top:-7px;
			z-index: 1;
			transition : all 300ms;
			nav{
				margin: 0px;
				span{
					display: none;
					font-size: 22px;
					border-bottom: solid 1px #333;
					padding:  10px 20px;
					width: 250px;

					a{
						display: block;
					}				
					&.search{
						display: block;
						border-bottom: none;
						width: 100%;
						input,button{
							font-size: 16px;
							height: 30px;
							&:after{top: 10px}
						}
					}
					&.label{display: none;}
					&:before{display: none;}
				}
			}
		}

		.nav-holder.active{
			top: -4px;
			background-color: #111;

			nav {
				span{display: block;}
				span.label{display: none;}
			}
		}
		.quicklinks{
			top: 0;
			margin-right: 10px;
			.btn{
				min-width: 0;
				padding-right: 10px;

				.fa{
					font-size: 20px;
				}
				i.sbar {
					display: none;
				}
				span{
					display: none;
				}

				&#toggleMenu{
					display: inline-block;
				}
			}
		}
	}

	#jumbotron{
		height: 700px;

		.theater{
			.item.learn-the-story{
				background-position:-68%;
				
				.container{
					bottom: 230px;
				}
				.banner{
					font-size: 11px;
					h1{
						font-size: 40px;
						line-height: 30px;
					}
					.btn{
						padding: 5px 10px;
						font-size: 16px;
					}
				}
			}
		}

		.thumbnail-holder{
			bottom: 140px;
			left: auto;
			right: 30px;
			.item{
				width: 70px;
				img{
					width: 100%;
				}
			}
		}
	}

	.product-info{
		margin: 0;

		/* &.active{
			height: 600px;
		} */
		.listing{
			.item { 
				padding: 0;
				figure{
					float: none;
					display: block;
					//width: auto;
					width: 100%;
				}

				.copy{
					padding: 10px 20px;
					float: none;
					display: block;
					width: auto;
				}
			}
		}
	}

	.contactus{

		.form-container{
			float: none;
			width: auto;

			form .captcha{
				float: none;
				width: auto;
			}
		}
	
		.office{
			position: relative;
			width: auto;

			&:after,&:before{display: none;}
		}
	}

	footer{
		nav{
			display: none;
		}

		.social{
			float: right;
			width: 60%;

			a.btn{
				margin-bottom: 10px;
			}
		}
	}

	#video .container {
		padding: 0 15px;
	}
	#video .beloTV .vid-entry {
		width: 65%;
		margin-bottom: 10px;
	}
	#video .sorter-btn-list {
		display: none;
	}
	.contactus .container {
		background: none;
	}
	.contactus .office {
		padding: 15px;
		margin-bottom: 10px;
	}
	footer .footnote .terms {
		display: none;
	} 
	footer .footnote .copyright {
		float: none;
		text-align: center;
		padding: 0 30px;
	}
	
	#jumbotron .thumbnail-holder {
		bottom: 183px;
	}


	/*videos*/
	#video-gallery .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	#video-gallery .container .sort-btn {
		width: 100%;
		margin-top: 25px;
	}
	#video-gallery .container .sort-btn li {
		padding-left: 10px;
	}
	#video-gallery .container .sort-btn li a {
		font-size: 9px;
	}
	#video-gallery .container .list-wrapper .vitem-entry {
		float: none;
		width: 60%;
		margin:0 auto;
		margin-bottom: 10px;
	}
	
	.lytebox .lytebox-content {
		border: 0;
	}

	#popupvideo {
		padding: 2px;
	}
}

@media(max-width: 360px){
	
	.contactus .container {
		background-position: 0;
	}

	#jumbotron .thumbnail-holder .item {
		display: none;
	}
	#jumbotron .thumbnail-holder .proxy { 
		display: block;
	}
}

@media(max-width: 320px){
	#video .beloTV .vid-entry {
		width: 70%;
	}

	#products{
		.product-arrow{
			display: block;
			&.prev{
				left: -18px;
			}
			&.next{
				text-align: right;
				right: -18px;
			}
		}
	}
}