@media (max-width: 1024px) {
	footer .sitemap li.f-skinanalyzer {
		display: none;
	}
	.skin-analyzer-cont {
		display: none;
	}
	#video {
		padding: 25px 0;
	}
	#video .beloTV {
		padding: 0;
		position: relative;
		width: 100%;
		display: block;
		float: none;
		text-align: center;
		max-width: none;
	}
	
	#video .beloTV .title {
		text-align: left;
	}

	#video .beloTV .vid-entry {
		margin: 0;
		float: none;
		width: 22%;
	}
	#video .sorter-btn-list {
		text-align: center;
		margin-top: 30px;
	}
}

@media(max-width:922px){

	.product-info .listing .item {
		width: 100%;
	}

	header{
		nav{
			span{
				min-width: 120px;
			}
			.label{
				display: none;
			}
		}
	}
	#jumbotron{

		.theater{
			.item.learn-the-story{
				.banner{
					width: 100%;

					h1{
						font-size: 50px;
					}
				}

				.btn.learn{
					padding: 10px;
					font-size: 16px;
					margin: 0;
				}

				.container{
					position: absolute;
					top: auto;
					bottom:270px;
				}
			}
			.item.video{
				top: 100px;
			}

		}
		.thumbnail-holder{
			display: block;
			margin-left: 0px;
			left: 30px;
			bottom: 150px;
		}

		.mask{
			width: 100%;
			
			.left{
				left: 0px;
				margin-left: 0px;
			}	
			.right{
				right: 0px;
				margin-right: 0px;
			}	
		}
	}
	.container{
		padding: 0 30px;
	}

	section.main{
		width: 60%;
		min-width: 300px;
		margin-top: -250px;
	}

	// home
	#products{
		.product-arrow{
			display: block;

			position: absolute;
			z-index: 201;

			padding: 10px;
			font-size: 26px;
			cursor: pointer;
			top: 45%;
			background: #161616;

			&.prev{
				left: -38px;
			}
			&.next{
				text-align: right;
				right: -38px;
			}
		}
	}

	.product-info{
		margin: 0 -36%;
		.item{
			padding: 20px;
		}
	}

	footer {
		.logo {
			margin-left: 5%;
			margin-right: 5%;
			float: left;
		}

		nav{
			padding: 10px;
		}

		.social{
			float: left;
			text-align: left;
			padding: 10px 0; 

			a.btn{
				margin:0 10px 0 0;
			}
		}
	/*end of footer*/
	}

	.contactus{
		.form-container{
			width: 60%;
		}
		.office{
			width: 40%;
			padding: 15px 30px 15px 0px;
		}
	}

	/**
	** PHASE 2
	*/
	.skin-analyzer-cont, 
	footer .sitemap {
		display: none;	
	}
	footer {
		padding-top: 20px;
	}
	footer .social li {
		margin-right: 0;
	}
	footer .logo {
		margin: 0;
		background-size: contain;
		width: 83px;
		margin-right: 25px;
	}
	footer .container {
		padding: 0 15px;
	}
	footer .social {
		padding-top: 30px;
	}

	#jumbotron .thumbnail-holder {
		position: absolute;
		bottom: 225px;
		right: 60px;
		left:initial;
		margin:0;
	}

	.contactus .container {
		background-position: -130px 17px;
	}
	.contactus .container .close {
		right: 25px;
	}

	#video-gallery, 
	#search-content {
		min-height: 800px;
	}

	#video-gallery .container .sort-btn {
		width: 60%;
	}

	#video-gallery .container .sort-btn li {
		padding-left: 30px;
	}

	#video .beloTV .vid-entry{
		width: 30%;
	}

	
}