@font-face {
    font-family: 'neosans';
    src: url('neosans/neo-sans-1361508444-webfont.eot');
    src: url('neosans/neo-sans-1361508444-webfont.eot?#iefix') format('embedded-opentype'),
         url('neosans/neo-sans-1361508444-webfont.woff2') format('woff2'),
         url('neosans/neo-sans-1361508444-webfont.woff') format('woff'),
         url('neosans/neo-sans-1361508444-webfont.ttf') format('truetype'),
         url('neosans/neo-sans-1361508444-webfont.svg#neosans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans/semibold/open-sans.semibold-webfont.eot');
    src: url('opensans/semibold/open-sans.semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans/semibold/open-sans.semibold-webfont.woff2') format('woff2'),
         url('opensans/semibold/open-sans.semibold-webfont.woff') format('woff'),
         url('opensans/semibold/open-sans.semibold-webfont.ttf') format('truetype'),
         url('opensans/semibold/open-sans.semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Solano';
  src:  url('solano/SolanoGothicMVBPro-BdRetro.otf')  format('opentype'), 
        url('solano/SolanoGothicMVBPro-BdRetro.eot') format('embedded-opentype'),
        url('solano/SolanoGothicMVBPro-BdRetro.ttf')  format('truetype'), 
        url('solano/SolanoGothicMVBPro-BdRetro.svg#SolanoGothicMVBPro-BdRetro') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*fonts/*/